doctype html
html
    head
        title NodeBLOG
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico",rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        .container
            .logo NodeBLOG
            .menu
                ul
                    li
                        a(href='#') Home
                    li
                        a(href='#') Add Post
                    li
                        a(href='#') Add Category
            .content-container
                block content